###############################
# headless_crm 
###############################

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/stores_headless_crm/node_modules
/stores_headless_crm/.pnp
.pnp.js
node_modules

# testing
/stores_headless_crm/coverage

# next.js
/stores_headless_crm/.next/
/stores_headless_crm/out/

# production
/stores_headless_crm/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# env file
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# default git ignore when init project
/stores_headless_crm/.gitignore

###############################
# FE sites
###############################
